html, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	align-items: center;
	box-sizing: border-box;
}

.backgroundImage {
	width: 100vw;
	height: 100vh;
	margin: 0;
	background: url(/img/jellyfish\ _background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.flexContainer {
	height: 95vh;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column nowrap;
}

.headerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
}

.title, .subTitle, .description {
	font-family: Helvetica, sans-serif;
	color: #fdfdfd;
	margin: 30px 0;
}

.title {
	font-size: 72px;
	letter-spacing: 22px;
	text-indent: 22px;
	text-transform: uppercase;
}

.subTitle {
	font-size: 22px;
	font-style: italic;
	font-weight: 300;
	letter-spacing: 12px;
	padding-left: 12px;
	line-height: 2;
	text-transform: uppercase;
}

.description {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.5;
}

.appleSubscriptionContainer, .googleSubscriptionContainer {
	width: 80vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
	margin: 30px 0;
}

a {
	text-decoration: none;
	color: #FFBCD7;
}

span {
	font-family: Helvetica, sans-serif;
	color: #fdfdfd;
	display: block;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
}

.button {
	width: 250px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 1px solid #fdfdfd;
	transition: letter-spacing, border, 0.3s;
	cursor: pointer;
}

.button:hover {
	letter-spacing: 2px;
	border: 1px solid #FFBCD7;
}

.subscriptionIcon {
	width: 35px;
	height: 35px;
}