body {
	box-sizing: border-box;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.backgroundImage {
	margin: 0;
	background: url(/img/jellyfish\ _background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.headerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
}

.title, .subTitle, .description {
	font-family: Helvetica, sans-serif;
	color: #fdfdfd;
}

.title {
	font-size: 4.5em;
	letter-spacing: 0.3em;
	text-indent: 0.3em;
	text-transform: uppercase;
	margin: 1.5em 0 0.2em 0;
}

.subTitle {
	font-size: 1.25em;
	font-style: italic;
	font-weight: 300;
	letter-spacing: 0.75em;
	line-height: 2;
	text-transform: uppercase;
	padding-left: 0.75em;
}

.description {
	width: 30.5em;
	font-size: 1.375em;
	font-weight: 300;
	line-height: 1.5;
	text-align: justify;
	margin: 1em 0;
}

.desktopContainer {
	display: flex;
	justify-content: center;
	margin: 8em 0;
}

.appleSubscriptionContainer, .googleSubscriptionContainer {
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
}

a {
	text-decoration: none;
	color: #FFBCD7;
}

span {
	font-family: Helvetica, sans-serif;
	color: #fdfdfd;
	display: block;
	font-size: 1em;
	font-weight: 300;
	text-transform: uppercase;
}

span:hover {
	color: #FFBCD7;
}

.button {
	width: 23.125em;
	height: 3.125em;
	line-height: 3.125em;
	text-align: center;
	border: 0.0625em solid #fdfdfd;
	transition: letter-spacing, border, 0.3s;
	cursor: pointer;
	margin: 2em 10em;
}

.button:hover {
	letter-spacing: 0.125em;
	border: 0.0625em solid #FFBCD7;
}

.subscriptionIcon {
	width: 2.1em;
	height: 2.1em;
}

/* tablet media query */
@media screen
	and (min-width: 768px)
	and (max-width: 1024px) {
	.description {
		width: 24em;
		font-size: 1.75em;
	}
		
	.desktopContainer {
		flex-flow: column;
	}

	.appleSubscriptionContainer {
		margin-bottom: 8em;
	}

	.button {
		margin: 3em;
	}
}

/* smartphone media query */
@media screen and (max-width: 767px) {
	.headerContainer {
		flex-flow: column wrap;
	}

	.title {
		font-size: 1.8em;
		margin-top: 1.8em;
	}

	.subTitle {
		max-width: 20em;
		font-size: 0.9em;
		line-height: 1.5em;
		text-align: center;
	}

	.description {
		max-width: 15em;
		font-size: 1.1em;
	}
	
	.desktopContainer {
		flex-flow: column;
		margin: 5em 0;
	}

	.appleSubscriptionContainer {
		margin-bottom: 6em;
	}

	.button {
		max-width: 15em;
		margin: 2em 0;
	}
}