body {
    margin: 0px;
    box-sizing: border-box;
}

.backgroundImage {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background: url(/img/jellyfish\ _background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.layer {
    width: 100%;
    height: 100%;
    background-color: #111111;
    opacity: 60%;
    position: fixed;
    z-index: -1;
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.title, .subTitle, .description {
    font-family: Helvetica, sans-serif;
    color: #fdfdfd;
}

.title {
    font-size: 24px;
    letter-spacing: 17px;
    text-indent: 17px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.subTitle {
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 12px;
    line-height: 1.2;
    padding-left: 12px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 20px;
}

.description {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
    margin: 20px 20px;
}

.contact {
    color: #FFBCD7;
}

.appleSubscription, .googleSubscription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 50px 0px;
}

a {
    text-decoration: none;
}

span {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight:300;
    color: #fdfdfd;
    text-transform: uppercase;
}

.button {
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #fdfdfd;
    margin: 20px 0px;
    cursor: pointer;
}

.socialNetworkContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 40px 0px;
}

.subscriptionIcon, .socialNetworkIcon {
    width: 30px;
    height: 30px;
}




/* --------------------- */
/* -----media query----- */
/* --------------------- */
@media (max-width: 374px) {
/* @media (max-width: 374px) { */
    .title {
        font-size: 22px;
        letter-spacing: 14px;
        text-indent: 14px;
    }
    .subTitle {
        font-size: 14px;
        letter-spacing: 8px;
        padding-left: 8px;
    }
}

@media (min-width: 414px) {
    .title {
        font-size: 26px;
        letter-spacing: 20px;
        text-indent: 20px;
    }
    .subTitle {
        font-size: 18px;
        letter-spacing: 14px;
        padding-left: 14px;
    }
}

@media (min-width: 1024px) {
    ::selection {
        color: #FFBCD7;
    }
    .title {
        font-size: 80px;
        letter-spacing: 42px;
        text-indent: 42px;
    }
    .description {
        width: 65%;
        font-size: 20px;
    }
    .appleSubscription, .googleSubscription {
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row wrap;
        width: 100vw;
        height: 10vh;
        margin: 20px 0px;
    }
    .button {
        width: 250px;
        transition: letter-spacing, border, 0.3s;
        cursor: pointer;
    }
    .button:hover {
        letter-spacing: 2px;
        border: 1px solid #BF8DA1;
    }
    .socialNetworkContainer {
        align-items: flex-end;
        height: 15vh;
        margin-top: 40px;
        margin-bottom: 0px;
    }
    .icon {
        width: 30px;
    }
}